/*
COLOR PALETTE
=========================
+ Light seafoam: #CFFFF6
+ Dark seafoam: #44CCB5
+ Coral: #FF5B66
*/

/* blocking */
html, body {
  width: 100%;
  min-width:320px;
  height: 100%;
  min-height:480px;
}
  body {
    padding:15% 10%;
    color: #000;
    background-color: #CFFFF6;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    justify-content: center;
  }
    section {
      -webkit-flex: 5;
      min-height:200px;
    }
    footer {
      -webkit-flex: 1;
      margin-top: 10px;
    }

/* main content */
section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  border: dashed 1px #44CCB5;
  border-width: 1px 0;
}
  h1 {
    color: #44CCB5;
    font-size: 60px;
    font-family: Arvo, sans-serif;
    line-height: 40px;
  }
  h1 span {
    color: #FF5B66;
    line-height: 130px;
  }

@media only screen and (max-width: 650px) {
  section {
    border:0;
  }
}
/*
@media only screen and (min-width: 480px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (min-width: 1140px) {}
*/